.sideBarFilter {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    width: "100%";
    flex-shrink: 0;
    max-width: 600px;
    margin-top: 50px;
}
.filterBarTitle{
    margin-bottom: 20px !important;
    font-family: "Lato" !important;

    /* display: flex  !important;
    justify-content: "center"  !important; */
}
.filterTitle{
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}
.filterSection{
    padding-left: 0px !important;
}
.filterInput{
    width: 100% !important;
}
 .formControl{
  width: "100%";
  min-width: 100px !important;
  /* padding: 10px !important; */
  margin-bottom: 10px !important;
} 
.sliderPrice{
    background-color: "none" !important;
}